   <%- include header %>
   
      <div class="jumbotron">
        <h1>Welcome <%= user.user_name %></h1>
        <p>Hello Dashboard</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/news" role="button">App view »</a>
          <a href="/news/reload">Actualizar página</a>
        </p>
      </div>
    <%- include footer %>